@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,200;0,300;0,400;1,500;1,600&family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

:root {
  --primaryColor: #0e7673;
  --secondaryColor: #e8292f;
  --primaryFont: "Poppins", sans-serif;
  --secondaryFont: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primaryFont);
}
p,
span,
small {
  font-family: var(--secondaryFont);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffc472;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primaryColor);
  border-radius: 4px;
}

.ant-input-search-button {
  background-color: #0e7673 !important;
  padding: 19px !important;
}

.ant-input {
  height: 2.5rem;
}
.ant-input-outlined {
  border-color: #686566 !important;
}
.anticon-search {
  font-size: 20px;
}
.ant-collapse-header-text {
  font-family: "Montserrat", sans-serif !important;
  font-size: 18px !important;
  font-weight: bold !important;
}

.dashboardSidebarMenu .ant-menu-item:hover {
  background-color: #0e767354 !important;
}

.dashboardSidebarMenu .ant-menu-item-selected {
  background-color: var(--primaryColor) !important;
  color: #ffffff !important;
}

.dashboardSidebarMenu .ant-menu-item-selected .anticon {
  color: #ffffff !important;
}
